.question-block {
  background-color: rgba(255, 255, 255, 0.644);
  color: white;
  border-radius: 15px;
  max-width: 612px;
  width: 100%;
  margin: 30px 0;
  padding: 10px;
  box-sizing: border-box;
}

.question-header {
  font-size: 1.3rem;
  padding: 10px;
}

.question-answers {
  border-radius: 20px;
}

.question-answer {
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(0, 0, 0, 0.6);
}

.question-answer:first-child {
  border-radius: 20px 20px 0 0;
}

.question-answer:last-child {
  border-radius: 0 0 20px 20px;
}

.answer-correct {
  background-color: rgba(36, 123, 177, 0.764);
  font-weight: bold;
  font-size: large;
}

img {
  width: 100%;
}
